{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      <div class="post-meta">
        <time datetime="{{date format="DD MMM YYYY"}}" class="post-meta__date date">{{date format="DD MMM YYYY"}}</time> &#8226; <span class="post-meta__tags tags">{{tags prefix="于 "}}</span>
        <!--<span class="post-meta__author author"><img src="{{author.image}}" alt="profile image for {{author.name}}" class="avatar post-meta__avatar" /> by {{author.name}}</span>-->
      </div>
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

  {{!--评论框--}}
  {{> comments}}

  <div class="post-back">
    <a href="javascript:;" target="_self" id="J_GoTop" title="回到顶部" style="display:none;">
      <i class="social fa fa-arrow-up"></i><em>回到顶部</em>
    </a>
    <a href="javascript:;" target="_self" id="J_qrcode" title="微信公众号">
      <i class="social fa fa-qrcode"></i><em>微信公众号</em>
      <div class="flw-weixin-box"></div>
    </a>
    <a href="javascript:;" target="_self" id="J_back" title="返回上级">
      <i class="social fa fa-arrow-circle-o-left"></i><em>返回上级</em>
    </a>
  </div> 

{{/post}}